<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newsapplicationroom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ui.NewsApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_image"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_image_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.auth.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.actionbar.profile.ProfilePageActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.actionbar.bulletnews.description.LatestNewsDescriptionDisplayActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.main.actionbar.bulletnews.LatestNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.description.UpdateNewsActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.description.DescriptionDisplayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.description.MoreInformationActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".ui.main.actionbar.bulletnews.alarm.LatestNewsJobScheduler"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".ui.main.actionbar.bulletnews.alarm.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>